:root {
  --font-family: 'Roboto';
}

body {
  font-family: 'Arial', 'Roboto';
  background-color: lightgray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#breed-select {
  background-color:#938d8d;;
  margin: 15px;
  padding: 5px;
  width: 35%;
}

#breed-select:hover {
  cursor: pointer;
}

.loader,
.error {
  margin: 10px 0;
  padding: 10px;
  background-color: transparent;
}

.loader {
  display: flex;
  color: #2a2828;
}

.load-section {
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.load-spinner {
  margin: 15px;
  padding: 5px;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: #b71f1f;
}

.cat-info {
  display: flex;
  align-items: center; /* Asează elementele pe axa verticală (imediat după încărcarea imaginii) */
}

.cat-info img {
  flex-shrink: 0; /* Nu lăsa imaginea să se micsoreze */
  width: 50%;
  height: auto;
  margin-right: 20px; /* Spațiu între imagine și text */
}

