
body {
    font-family: Arial, sans-serif;
  }
  
  .breed-select {
    margin-bottom: 10px;
    padding: 5px;
  }

  .breed-select:hover {
    cursor: pointer;
  }
  
  .loading-spinner, .error {
    display: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #2a2828;
  }

.hidden {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hidden > p {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .error {
    color: #b71f1f;
  }
  
  .cat-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #999090;
    display: flex;
    flex-direction: row;
  }

.section-img {
  display: flex;
}

.section-decription {
  display: flex;
  flex-direction: column;
}
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 90%;
    height: auto;      
}
  
  .loading-spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    background-color: #999;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

